body{
    margin: 0;
    background-image: url(../U2/houseofvampirediaries.jpeg);
    background-position-y: 35%;
    
}
h1{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}

#add-character-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 15px;
   padding-bottom: 15px;
   border-bottom: 1px black;
  

}

#filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 15px;
    gap: 15px;
    
}

#filter-by-gender,
#filter-by-age {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}


#headers{
    display: grid;
    background: beige;
    padding: 10px 20px;
    background: beige;
    grid-template-columns: repeat(5, 1fr);
}

#characters{
    background: white;
    padding: 10px;
}

.character{
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat (6, 1fr);
    
}
.character div {
    /* center vertically*/
    display: flex;
    align-items: center;
}

.character:nth-child(odd) {
    background: #fffff0;

}
